﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DownloadAll.aspx.cs" Inherits="DownloadAll" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
     
<head runat="server">
    <title></title>

    <style type="text/css">
        #form1
        {
            width: 115px;
            height: 66px;
        }
        #DownloadX
        {
            height: 40px;
            width: 42px;
        }
        #UDownload
        {
            height: 620px;
            width: 649px;
        }
    </style>

</head>
<body onload="AddFiles()">

    <form id="form1" runat="server">

    <object id="UDownload" 
        type="application/x-oleobject" 
        codeBase = "UFileDownload.cab#version=3,0,0,3"  
        
        classid="CLSID:97058962-92BE-4697-AA90-C1BD411F4C89">
    </OBJECT>
    
    </form>
        
</body>


<script type="text/javascript">
    function CreateFolder(aCaseNumber) {
        var du = document.getElementById("UDownload");

        try {
            var oas = new ActiveXObject("Scripting.FileSystemObject");
            var path = "C:\\AllYearServices";
            
            if (oas.FolderExists(path) == false)
            { oas.CreateFolder(path); }

            var path = "C:\\AllYearServices\\" + aCaseNumber;
            
            if (oas.FolderExists(path) == false)
            { oas.CreateFolder(path); }

        }
        catch (err) {
            alert(err);
        }
        
    }
</script>

<script for="UDownload" event="DownloadComplete(hr)">
    window.close();
</script>
   
</html>

