﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="DownloadCase.aspx.cs" Inherits="DownloadCase"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
 
    <script type="text/javascript">
         void CloseWindow() {
            window.close();
        }
    </script>

    <script runat="server">

    </script>

    <head runat="server">
        <title></title>
    </head>
 
    <body>
        Downloading images and adding to zip...
    </body>
   
</html>

